<!--makes the video an id, along with its controls and height. Also assigns a thumbnail-->
<video id="video" controls width="400"  height="350" poster="/Asset/images/WebScriptThumbnail.png">
            <!--the two sources for the video-->
            <source src="../Asset/videos/About-Me-Video.mp4" type="video/mp4">
            <source src="../Asset/videos/About-Me-Video.ogv" type="video/ogv">
        </video>
        <!--photo of author of webpage that goes with the video-->
        <div class="myPhoto">
            <img src="../Asset/images/myPhoto.png" alt="">
        </div>
        <!--Text that goes with the introductory video-->
        <aside>
            <p>Name: <span>Zach D'Angelo</span><br>Univeristy/College: <span>Ontario Tech University</span><br>Year: <span>2</span><br>Hobbies: <span>Watching Hockey and Basketball</span></p>
        </aside>