<!--footer code-->
<footer>
<nav class="navbar fixed-bottom navbar-black bg-white">
    <!--copyright text is shown on the footer-->
    <h6 class="navbar-text">&copy;Copyright 2023. All Rights reserved to Zach D'Angelo</h6>
    <br>
    <!--github and linkedin links represented by their respective logos in the footer-->
    <a class="navbar-brand" href="https://github.com/Zach21591"><i class="fa-brands fa-github fa-sm"></i> Github</a>
    <a class="navbar-brand" href="https://www.linkedin.com/in/zach-d-angelo-66659429a/"><i class="fa-brands fa-linkedin fa-sm"></i> Linkedin</a>
</nav>
</footer>